.center {
  width: 80%;
  margin: 20px auto;
  min-height: 752px;
}

.header {
  display: flex;
  width: 80%;
  margin: 20px auto 40px;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  padding: 10px;
}

.containerImage {
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.containerName {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
}

.containerName > h3 {
  font-weight: normal;
}

.containerText {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.containerText > h3 {
  text-align: center;
  text-decoration: underline;
  font-size: 22px;
}

.containerText > div {
  font-size: 18px;
  width: 50%;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.containerText > div > p {
  line-height: 1.3;
}

.containerBio {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 60%;
}

.containerBio > div {
  display: flex;
  gap: 20px;
  text-align: center;
}

/* Temporal, ver si puedo hacerlo solo con flex */
.containerBio > div > h4 {
  min-width: 110px;
}

.containerBio > div > p {
  width: 100%;
}

@media screen and (max-width: 1401px) {
  .containerText > div {
    width: 70%;
  }
}

@media screen and (max-width: 1160px) {
  .containerBio {
    width: 80%;
  }
}

@media screen and (max-width: 775px) {
  .containerText > div {
    width: 100%;
  }

  .containerBio {
    width: 90%;
  }
}

@media screen and (max-width: 532px) {
  .header {
    flex-direction: column-reverse;
  }

  .containerBio {
    width: 100%;
  }
}
