* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-green: #5dc1b9;
  --secondary-green: #8ae0db;
  --yellow: #ffc340;
  --grey: #626262;
  --color-react: #61dbfb;
  --color-mongo: #009929;
  --color-node: #a5e510;
  --color-python: #1077e5;
  --color-mysql: #69a8ec;
  --color-next: #000e1d;
  --color-js: #dce20c;
  --color-tailwind: #06b6d4;
  --color-ts: #3178c6;
  --color-express: #000;
  --color-html: #e34f26;
  --color-css: #0099e5;
  --color-astro: #c966f1;
}

@font-face {
  font-family: "Inter";
  font-weight: 200;
  src: local("Inter-ExtraLight"),
    url("/fonts/Inter/static/Inter-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 300;
  src: local("Inter-Light"),
    url("/fonts/Inter/static/Inter-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: local("Inter-Regular"),
    url("/fonts/Inter/static/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: local("Inter-Medium"),
    url("/fonts/Inter/static/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: local("Inter-Bold"),
    url("/fonts/Inter/static/Inter-Bold.ttf") format("truetype");
}

body {
  background-color: #3e4144;
  color: #fff;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.react {
  color: #000;
  background-color: var(--color-react);
}

.mongo {
  background-color: var(--color-mongo);
  color: #000;
}

.node {
  background-color: var(--color-node);
  color: #000;
}

.next {
  background-color: var(--color-next);
}

.python {
  background-color: var(--color-python);
}

.js {
  background-color: var(--color-js);
  color: #000;
}

.mysql {
  background-color: var(--color-mysql);
  color: #000;
}

.tailwind {
  background-color: var(--color-tailwind);
  color: #000;
}

.typescript {
  background-color: var(--color-ts);
  color: #000;
}

.express {
  background-color: var(--color-express);
  color: #fff;
}

.html {
  background-color: var(--color-html);
}

.css {
  background-color: var(--color-css);
}

.deno {
  background-color: #000;
  color: #fff;
}

.astro {
  background-color: var(--color-astro);
  color: #000;
}
