* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-green: #5dc1b9;
  --secondary-green: #8ae0db;
  --yellow: #ffc340;
  --grey: #626262;
  --color-react: #61dbfb;
}

body {
  background-color: #3e4144;
  color: #fff;
  font-family: "Inter", sans-serif;
}
