/* LINE */

.line {
  width: 90%;
  border-top: 1px solid var(--primary-green);
  margin: 20px auto;
}

/* TECHNOLOGIES */

.containerHomeTechnologies {
  width: 90%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}
