.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header > i {
  width: 60px;
  color: var(--color-react);
}

.header > h2 {
  text-transform: capitalize;
  font-size: 30px;
}

.main {
  width: 80%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-size: 18px;
  min-height: 740px;
}

.main > p {
  padding: 15px;
  background-color: #dedede;
  border-radius: 10px;
  text-align: center;
  color: #2f3032;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 80%;
}

.projectList {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.courses {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  width: 100%;
}

.coursesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  align-items: center;
  width: 100%;
  place-items: center;
}

.courseCard {
  width: 300px;
}

.courseCard > a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.image {
  border-radius: 10px;
  background-color: #fff;
}

/* Technologie Project Card */
.card {
  list-style: none;
  text-decoration: none;
  font-weight: bold;
  /* color: var(--secondary-green); */
  color: #000;
  background-color: #dedede;
  border-radius: 10px;
  overflow: hidden;
  min-width: 320px;
}

.listAnchor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.headerCard {
  padding: 10px;
  background-color: var(--secondary-green);
  width: 100%;
  text-align: center;
}

.footerCard {
  padding-bottom: 20px;
}

@media screen and (max-width: 800px) {
  .projectList {
    gap: 10px;
  }
}
