.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header > i {
  width: 60px;
  color: var(--color-react);
}

.header > h2 {
  text-transform: capitalize;
  font-size: 30px;
}

.main {
  width: 80%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-size: 18px;
  min-height: 754px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.projects > ul > a {
  text-decoration: none;
  font-weight: bold;
  color: var(--secondary-green);
}

.courses {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  width: 100%;
}

.coursesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  align-items: center;
  width: 100%;
  place-items: center;
}

.courseCard {
  width: 300px;
}

.courseCard > a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.image {
  border-radius: 10px;
}
